<div id="contenedor-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center" id="header-principal">
        <!-- Titulo y logo -->
        <a href="/inicio" id="titulo-y-logo">
            <a id="titulo-principal"><img id="icono-principal" width="50" height="50" src="../../../assets/icons/icono-principal.png" alt="Icono de DB">Ticketsolvers</a>
        </a>

        <!-- Menu hamburguesa -->
        <app-hamburger-menu></app-hamburger-menu>    

        <!-- Responsive options -->
        <div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="header-lista-opciones">
                <li><a href="/inicio" id="opcion-inicio">Inicio</a></li>
                <li><a href="/panel-de-consultas" id="opcion-contacto">Consultas</a></li>
            </ul>
        </div>
    </header>
</div>