<section id="seccion-error">
    <div class="container" id="contenedor-faq">
        <label id="titulo-error">404 - Not Found</label>
        <label id="titulo-error-mobile">
          404<br><br><br>
          Not Found
        </label>
        <label id="titulo-error-mobile-2">
            404<br><br>
            Not <br><br>Found
          </label>
        <label id="explicacion-error">¡No fue posible encontrar la página que esta buscando!</label>
        <button id="btn-salir-del-error" (click)="volverInicio()">Volver al inicio</button>
    </div>
</section>