<section id="seccion-home">

    <div class="container-sm" id="contenedor-presentacion">

            <div class="col-md-8" id="columna-texto-presentacion">
                <h1 id="h1-titulo-presentacion">Consultas al instante, <br> en un solo click.</h1>
                <h2 id="h2-titulo-presentacion">Obtené todas las consultas que necesites de nuestra ticketera <br> en cuestión de segundos.</h2>
                <button id="btn-ver-mas-presentacion" (click)="verMas()">Ver más</button>
            </div>
            <div class="col-md-4" id="columna-foto-presentacion">
                <img class="img-fluid" src="../../../assets/opcion2.png" id="foto-principal" alt="imagen de una persona obteniendo estadisticas">          
            </div>   
    </div>
    
</section>
