.contenedor-tickets {
    box-shadow: 0 2px 4px 0 #00000033;
    border-radius: 16px;
    background-color: #e7ecf7;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0rem;
    height: 80%;
    overflow: auto;
}

/* ----------------- Ticket style -----------------*/
mat-panel-description {
    padding: 25px;
}
.ticket-item-accordion {

    box-shadow: 0 2px 4px 0 #00000033;
    margin-top: 2rem;
    width: 100%;
}

/* ----- Ticket Header -----*/
.ticket-header {
    padding: 2rem;
}
.card-header {
    box-shadow: 0 2px 4px 0 #00000066;
    border-radius: 16px;
}
.ticket-header-contenido {
    margin: 0px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}
.ticket-header-data {
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}

/* ----- Ticket Details -----*/
.tabla-details-datos {
    box-shadow: 0 2px 4px 0 #00000066;
    border-radius: 16px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tabla-celda-estilada-v2 {
    border: 1px solid #ccc;
    text-align: left;
    padding: 1rem;
}
.tabla-celda-estilada {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 1rem;
}
.tabla-celda-estilada-v3 {
    border-left: 1px solid #ccc;
    text-align: left;
    padding: 1rem;
}
.tabla-datos-auxiliares-item-ticket {
    margin: 0px;
    width: 100%;
    max-height: 3rem;
    overflow: auto;
}
th, td {
    padding: 1rem;
    text-align: left;
}
.paginador-base-de-datos {
    width: 100%;
    margin-top: 1rem;
    font-family: Raleway-medium;
    height: 5rem;
    border-radius: 12px;
    background-color: #e7ecf7;
    box-shadow: 0 2px 4px 0 #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }



  /**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }

  /**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  


  /**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  